#modalganar{
  width: 500px;
  height: 500px;
}

#bombapri {
  width: 70px;
  height: 70px;
}
#campomin{
  font-size: 20px;
  color: red;
}

#ab {
  margin-top: 20px;
  margin-bottom: 20px;
}
#tableroo {
  margin-top: 5px;
}

#jugarrr {
  width: 70px;
  height: 70px;
}
.tablaresultados {
  margin-top: 25px;
}
.imagenes_grilla {
  margin-top: 10px;
  width: 40px;
  height: 40px;
}

#soldado{
  margin-top: 0px;
  width: 90px ;
  height: 70px;
}

#zz{
  margin-top: 150px;
}

.container {
  padding-left: 70px;
 /* margin-top: 50px;*/
}
#bodyjugar {
  background-image: url(../Imagenes/p1.jpg);
}
.jugar {
  color: #97c93e !important;
}
#arriba {
  margin-top: 20px;
}

#asd {
  display: block;
  margin: auto;
}
img {
  /*este modificar */
  padding-top: 15 px;
  display: block;
  margin: auto;
}

.a1 , .a2 , .a3 , .a4, .a5 , .a6, .a7, .a8, .a9, .a10, .a11, .a12, .a13, .a14, .a15, .a16, .a17 , .a18, .a19, .a20 , .aa, .bb, .cc, .dd, .ee,
.abc {
  border: 4px solid black;
}

#averr {
  display: block;
}

#header img {
  width: 80px;
}

#imagen1 {
  margin-top: 20px;
}

#imagen2 {
  margin-top: 20px;
}

#tableroo div {
  height: 75px;
}

#prueba {
  position: absolute;
  color: rgb(184, 50, 50);
  padding-left: 25%;
  padding-top: 45%;
}
#prueba2 {
  font-size: 35px;
  position: absolute;
  color: rgb(230, 6, 6);
  padding-left: 20%;
  padding-top: 30%;
}
.modal-header {
  border-bottom: 1px solid #eee;
  color: red;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#titulomodal {
  text-align: center;
  font-size: 30px;
}
#btnJugarDenuevo {
  width: 50%;
  margin: auto;
  position: absolute;
  /*margin-top: ;*/
}

.imagen_terreno {
  background-image: url(../Imagenes/tierra.jpg);
}

#main .carousel-inner img {
  max-height: 74.5vh;
  object-fit: cover;
  filter: grayscale(70%);
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute; /*Pone adelante*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5); /*Oscurece fondo */
  color: white;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}

#place-time {
  background-color: #343a40;
  color: white;
}

#place-time img {
  max-width: 100%;
}

#footer {
  background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
}

#footer a {
  color: white;
}

.ewq {
  color: white;
  font-size: 20px;
}

#cuadro4_0 {
  display: block;
  padding-left: 0px;
}
img {
  padding-left: 0px;
}

#botonjugar {
  width: 20%;
}

#suerte {
  text-align: center;
  font-weight: bold;
}

#logou {
  width: 8.2%;
  text-align: center;
  display: block;
  margin: auto;
}

.boton_acerca {
  margin-top: 10px !important;
}

#titulo_acerca_de {
  color: rgb(189, 105, 10);
  font-family: Arial, Helvetica, sans-serif;
}

.titulo {
  color: red;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.subtitulo {
  color: rgb(35, 219, 179);
  text-align: center;
  font-size: 18px;
}

.contador {
  width: 75px;
  height: 75px;
}

.imagen_perfil {
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
}

.informacion {
  font-weight: bold;
  color: cornflowerblue;
}

table {
  margin: auto;
  border: outset black 6px;
  background: black;
}
td {
  line-height: 0;
  width: 100px;
  height: 100px;
  background: black;
  text-align: center;
  vertical-align: middle;
}
tr:nth-child(odd) td:nth-child(odd),
tr:nth-child(even) td:nth-child(even) {
  background: white;
}

#tablero {
  margin-top: 20%;
}
#nivelasd {
  color: rgb(65, 141, 65);
  font-size: 20px;
  font-weight: bold;
}

#cantidad_vidas {
  color: rgb(247, 83, 7);
  font-size: 20px;
  font-weight: bold;
}

#vidas {
  color: rgb(65, 141, 65);
  font-size: 20px;
  font-weight: bold;
}

#mapa2 {
  color: rgb(65, 141, 65);
  font-size: 20px;
  font-weight: bold;
}

#tmr {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

#resultado {
  color: rgb(247, 83, 7);
  font-size: 20px;
  font-weight: bold;
}

#mapa {
  color: rgb(247, 83, 7);
  font-size: 20px;
  font-weight: bold;
}
#nivel {
  color: rgb(247, 83, 7);
  font-size: 20px;
  font-weight: bold;
}

.averrr {
  font-size: 30px;
  padding-left: 90px;
  display: block;
  margin: auto;
  text-align: center;
}

#confe {
  font-size: 30px;
  padding-left: 90px;
  display: block;
  margin: auto;
  text-align: center;
}

.tablaresultados {
  margin-right: 60px;
}

#frase {
  text-align: center;
  font-size: 30px;
}


@media (max-width: 1366px) {/*ipad pro Horizontal */

  #soldado{
    margin-top: 0px;
    width: 100px ;
    height: 100px;
  }

  #zz{
    margin-top: 130px;
    padding-left: 80px;
  }
  .robott{
    margin-top: 0px;
    height: 100px;
  }
  .imagenes_grilla{
    margin-top: 25px;
  }
  #jugarrr{
    width: 100px;
    height: 100px;
  }
  #campomin{
    font-size: 30px;
    color: red;
  }
  #instrucciones{
    font-size: 30px;
  }
  #instrucciones{
    font-size: 30px;
  }
  #acercaDe{
    font-size: 30px;
  }
  #boton_nuevo_juego{
    font-size: 30px;
  }
  
  #tableroo div {
    height: 100px;
  }
  #nivelasd {
    color: rgb(65, 141, 65);
    font-size: 35px;
    font-weight: bold;
  }

  #cantidad_vidas {
    color: rgb(247, 83, 7);
    font-size: 35px;
    font-weight: bold;
  }

  #vidas {
    color: rgb(65, 141, 65);
    font-size: 35px;
    font-weight: bold;
  }

  #mapa2 {
    color: rgb(65, 141, 65);
    font-size: 35px;
    font-weight: bold;
  }

  #tmr {
    color: rgb(65, 141, 65);
    font-size: 35px;
    font-weight: bold;
  }

  #resultado {
    color: rgb(247, 83, 7);
    font-size: 35px;
    font-weight: bold;
  }

  #mapa {
    color: rgb(247, 83, 7);
    font-size: 35px;
    font-weight: bold;
  }
  #nivel {
    color: rgb(247, 83, 7);
    font-size: 35px;
    font-weight: bold;
  }
  #arriba{
    width: 60px;
    height: 60px;
    font-size: 35px;
  }
  #abajo{
    width: 60px;
    height: 60px;
    font-size: 35px;

  }
  #izquierda{
    width: 60px;
    height: 60px;
    font-size: 35px;

  }
  #derecha{
    width: 60px;
    height: 60px;
    font-size: 35px;
  }
  
}

@media (max-width: 1024px) {/*ipad pro Vertical */
  #soldado{
    margin-top: 0px;
    width: 150px ;
    height: 150px;
 
  }

  #zz{
    margin-top: 180px;
    padding-left: 70px;
  }
  .robott{
    margin-top: 0px;
    width: 90px;
    height: 140px;
  }
  .imagenes_grilla{
    margin-top: 25px;
  }
  #jugarrr{
    width: 100px;
    height: 100px;
  }
  #campomin{
    font-size: 30px;
    color: red;
  }
  #instrucciones{
    font-size: 30px;
  }
  #instrucciones{
    font-size: 30px;
  }
  #acercaDe{
    font-size: 30px;
  }
  #boton_nuevo_juego{
    font-size: 30px;
  }
  
  #tableroo div {
    height: 150px;
  }
  #nivelasd {
    color: rgb(65, 141, 65);
    font-size: 35px;
    font-weight: bold;
  }

  #cantidad_vidas {
    color: rgb(247, 83, 7);
    font-size: 35px;
    font-weight: bold;
  }

  #vidas {
    color: rgb(65, 141, 65);
    font-size: 35px;
    font-weight: bold;
  }

  #mapa2 {
    color: rgb(65, 141, 65);
    font-size: 35px;
    font-weight: bold;
  }

  #tmr {
    color: rgb(65, 141, 65);
    font-size: 35px;
    font-weight: bold;
  }

  #resultado {
    color: rgb(247, 83, 7);
    font-size: 35px;
    font-weight: bold;
  }

  #mapa {
    color: rgb(247, 83, 7);
    font-size: 35px;
    font-weight: bold;
  }
  #nivel {
    color: rgb(247, 83, 7);
    font-size: 35px;
    font-weight: bold;
  }
  #arriba{
    width: 60px;
    height: 60px;
    font-size: 35px;
  }
  #abajo{
    width: 60px;
    height: 60px;
    font-size: 35px;
  }
  #izquierda{
    width: 60px;
    height: 60px;
    font-size: 35px;
  }
  #derecha{
    width: 60px;
    height: 60px;
    font-size: 35px;
  }  
}

@media (max-width: 360px)  {/*galaxy s5*/
  #zz{
    margin-top: 0px;
    padding-left: 0px;
  }

  #tableroo div {
    height: 80px;
  }
  .imagenes_grilla{
    margin-top: 15px;
    width: 25px;
  }
  #soldado{
    margin-right:0px;
    height: 70px;
    width: 40px;
  }

  #jugarrr{
    width: 50px;
    height: 50px;
  }
  
  .robott {
    width: 40px;
    margin-top: 0px;
    height: 60px;
  }

  #campomin {
    color: red;
    font-size: 15px;
  }

  .container {
    padding-left: 55px;
    /*margin-top: 0px;*/
  }
  #nivelasd {
    color: rgb(65, 141, 65);
    font-size: 15px;
    font-weight: bold;
  }
  #cantidad_vidas {
    color: rgb(247, 83, 7);
    font-size: 15px;
    font-weight: bold;
  }
  #vidas {
    color: rgb(65, 141, 65);
    font-size: 15px;
    font-weight: bold;
  }
  #mapa2 {
    color: rgb(65, 141, 65);
    font-size: 15px;
    font-weight: bold;
  }

  #tmr {
    color: rgb(65, 141, 65);
    font-size: 15px;
    font-weight: bold;
  }

  #resultado {
    color: rgb(247, 83, 7);
    font-size: 15px;
    font-weight: bold;
  }

  #mapa {
    color: rgb(247, 83, 7);
    font-size: 15px;
    font-weight: bold;
  }
  #nivel {
    color: rgb(247, 83, 7);
    font-size: 15px;
    font-weight: bold;
  }
  #arriba{
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  #abajo{
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  #izquierda{
    width: 30px;
    height: 30px;
    font-size: 15px;

  }
  #derecha{
    width: 30px;
    height: 30px;
    font-size: 15px;

  }

  #instrucciones{
    font-size: 15px;
  }
  #acercaDe{
    font-size: 15px;

  }
  #boton_nuevo_juego{
    font-size: 15px;
  }
}

#botonjugar {
  display: block;
  margin: auto;
}
#sobrevive {
  text-align: center;
}
