
.container{
  padding-left: 40px;
}
#bodyjugar{
  background-image: url(../Imagenes/desierto.jpg);

}
.jugar {
  color: #97c93e !important;
}
#arriba{
  margin-top: 20px;
}

#asd{
  display: block;
  margin: auto;
}
img{/*este modificar */
  padding-top: 15 px;
  display: block;
  margin: auto;
}

#averr{
  border: red solid;
 display: block;
}

#header img {
  width: 80px;
}

#imagen1{
  margin-top: 20px;
}

#imagen2{
  margin-top: 20px;

}

#tableroo div{
  height: 75px;
}

#prueba{
  position: absolute;
  color: rgb(184, 50, 50);
  padding-left: 25%;
  padding-top: 45%;
}
#prueba2{
  font-size: 35px;
  position: absolute;
  color: rgb(230, 6, 6);
  padding-left: 20%;
  padding-top: 30%;
}
.modal-header {
  border-bottom:1px solid #eee;
  background-color:beige;
  color: red;
 
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}
#titulomodal{
  font-size: 30px;
  padding-left: 90px;
  display: block;
  margin: auto;
  text-align: center;
}
#btnJugarDenuevo{
  width: 50%;
  margin: auto;
  position: absolute;
  /*margin-top: ;*/
}


#main .carousel-inner img {
  max-height: 70vh;
  object-fit: cover;
  filter: grayscale(70%);
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute; /*Pone adelante*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5); /*Oscurece fondo */
  color: white;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}

#place-time {
  background-color: #343a40;
  color: white;
}

#place-time img {
  max-width: 100%;
}

#footer {
  background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
}

#footer a {
  color: white;
}

.ewq{
  color: white;
  font-size: 20px;
  
}

#cuadro4_0{
  display: block;
  padding-left: 0px;
}
img{
  padding-left: 0px;
}

#botonjugar{
  
 width: 20%;
}

#suerte{
  text-align: center;
  font-weight: bold;
}



#logou{
  width: 8.2%;
  text-align: center;
  display: block;
  margin: auto;
}

.boton_acerca{
  margin-top: 20px !important;
}

#titulo_acerca_de{
  color:  rgb(189, 105, 10); 
  font-family: Arial, Helvetica, sans-serif;
}

.titulo{
  color: darkblue;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.subtitulo{
  color:rgb(35, 219, 179);
  text-align: center;
  font-size: 18px;
}

.contador{
  width: 75px;
  height: 75px;
}

.imagen_perfil{
  width: 150px;
  height: 150px;
  display:block;
  margin:auto;  
}

.informacion{
  font-weight:bold;
  color: cornflowerblue;
}


table {
  margin: auto; 
  border: outset black 6px; 
  background: black; 
  }
  td {
  line-height: 0; 
  width: 100px; height: 100px; 
  background: black; 
  text-align: center; 
  vertical-align: middle; 

  }
  tr:nth-child(odd) td:nth-child(odd), 
  tr:nth-child(even) td:nth-child(even) {
  background:white; 
  }



  #tablero{
    margin-top: 20%;
  }
  #nivelasd{
    color: white;
  }


#cantidad_vidas{
  color: white;
}

#vidas{
  color: white;
}

#mapa2{
  color: white;
}

#tmr{
  color: white;
}

#resultado{
  color: white;
}

#mapa{
  color: white;
}
#nivel{
  color: white;
}
 
  
 
